/**
 * CSS Reset & Normalize
 * 重置和统一浏览器默认样式
 */

@use "variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-normal;
  color: $text-primary;
  background-color: $bg-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// 标题
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: $font-family-heading;
  font-weight: $font-weight-semibold;
  line-height: $line-height-tight;
  color: inherit;
}

h1 { font-size: $font-size-5xl; }
h2 { font-size: $font-size-4xl; }
h3 { font-size: $font-size-3xl; }
h4 { font-size: $font-size-2xl; }
h5 { font-size: $font-size-xl; }
h6 { font-size: $font-size-lg; }

// 段落
p {
  margin-top: 0;
  margin-bottom: 1em;
}

// 链接
a {
  color: $primary-color;
  text-decoration: none;
  background-color: transparent;
  transition: color $transition-base $transition-ease;

  &:hover {
    color: $primary-dark;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

// 图片
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

// 列表
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

// 按钮
button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font: inherit;
  
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

// 输入框
input,
textarea,
select {
  font: inherit;
  outline: none;
  
  &:focus {
    outline: none;
  }
}

// 表格
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// 其他元素
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre,
code,
kbd,
samp {
  font-family: $font-family-mono;
  font-size: 1em;
}

// 清除浮动
.clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

